<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <include path="Yapay_Magento2::system/yapay_configuration.xml"/>
            <include path="Yapay_Magento2::system/yapay_credit_card.xml"/>
            <include path="Yapay_Magento2::system/yapay_bank_slip.xml"/>
            <include path="Yapay_Magento2::system/yapay_transference.xml"/>
        </section>
    </system>
</config>
